
@{
    Layout = "~/Views/Shared/LayoutAuth.cshtml";
    if (Session["IDUSUARIO"] == null)
    {
        Response.Redirect("~/Login/Iniciar");
    }

}


<h2>Bienvenido @Session["NOMBREUSUARIO"]</h2>

