@model IEnumerable<siteSPPP.Models.PLANTILLA>


@foreach (var item in Model)
{
    <dl class="dl-horizontal">

        <dd>
            <h2>
                <strong>
                    @Html.DisplayFor(model => item.TITULO)
                </strong>
            </h2>
        </dd>
        <hr />

        <dd class="text-left">
            @Html.Raw(item.CONTENIDO)
        </dd>

    </dl>

}

