
@{
    ViewBag.Title = "Objetivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-size:1.5em;text-align:left">
    <strong>Directorio de Servidores Públicos</strong>
</span>
<hr />
<table width="720" border="0">
    <tbody>
        <tr>
            <td>
                <table width="703" border="0">
                    <tbody>
                        <tr>
                            <td colspan="5" bgcolor="#a5a7a9"><h2><strong class="a"> <span class="blanco">Secretaría de Planeación, Programación y Presupuesto</span></strong></h2></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><div align="center"><img src="~/Content/images/Directorio/Lic.David Guerrero.jpg" width="150" height="170"></div></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="4">&nbsp;</td>
                            <td width="84">&nbsp;</td>
                            <td width="29">&nbsp;</td>
                            <td width="379">
                                <h2 align="center">
                                    Lic.José David Guerrero Castellón<br>
                                    <span class="f14">Secretario de Planeación, Programación y Presupuesto</span>
                                </h2>
                                <p class="f12" align="center">
                                    <span class="f14">Conmutador 211 92 00 Ext 29231 </span><br>
                                </p>
                            </td>
                            <td width="85">
                                <div align="center">
                                    <p><a href="~/Content/files/curriculum/FICHA_CURRICULAR_DAVID_GUERRERO_CASTELLoN_SPPP.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/L.C. Ana Alicia Enciso Duran.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <h2>
                                    L.C. Ana Alicia Enciso Durán<br>
                                    <span class="f14">Secretaria Particular </span>
                                </h2>
                                <p>
                                    <span class="f14">Conmutador 211 92 00 Ext. 29248</span><br>
                                    <br>
                                    <a href="mailto:mgalicia@seplan.gob.mx"></a>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_ANA ENCISO.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5" height="17" bgcolor="#a5a7a9"><h2><strong class="a"><span class="blanco">SubSecretaría de Planeación, Programación y Presupuesto</span></strong></h2></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Ing. Oscar Ortiz.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <h2 align="left">
                                    Ing. Oscar Fernando Ortiz Villanueva<br>
                                    <span class="f14">Subsecretario de Planeación, Programación y Presupuesto</span>
                                </h2>
                                <p class="f14">Conmutador 211 92 00 Ext. 29247 <br />
                                    oortiz@seplan.gob.mx</p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA CURRICULAR ING ORTIZ SUBSECRETARIO.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td colspan="4" class="blanco" bgcolor="#a5a7a9"><h3>Dirección General de la Unidad de Inversiones</h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Cesar Humberto Sandoval.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Ing. César Humberto Sandoval Dávila</strong><br>
                                    <span class="f14">Director General de la Unidad de Inversiones</span>
                                </p>
                                <p><span class="f14">Conmutador 211 92 00 Ext. 29270</span></p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA CURRICULAR CESAR HUMBERTO.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td colspan="4" class="blanco" bgcolor="#a5a7a9"><h3>Dirección de Fomento a la Inversión</h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Vacante.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14"></strong><br>
                                <span class="f14">Director de Fomento a la Inversión</span>
                            </td>
                            <td><div align="center"><a href="" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td colspan="4" class="blanco" bgcolor="#a5a7a9"><h3>Dirección de Proyectos Estratégicos</h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Vacante.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14"> </strong><br>
                                <span class="f14">Director de Proyectos Estratégicos</span>
                            </td>
                            <td><div align="center"><a href="" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Lic. M. Dolores Lopez Carrillo.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14">Lic. M. Dolores López Carrillo</strong><br>
                                <span class="f14">Depto. de Proyectos Estratégicos</span>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_DOLORES LOPEZ.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5" height="17" bgcolor="#a5a7a9"><h3><strong class="a"><span class="blanco">Dirección de Planeación y Evaluación</span></strong></h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Dra. Reina Rosales.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Dra. Reina Rosales Andrade</strong><br>
                                    <span class="f14">Directora General de Planeación y Evaluación</span>
                                </p>
                                <p class="f14">
                                    Conmutador 211 92 00 Ext. 29214<br>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA_CURRICULAR_REINA_ROSALES_SPPP.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Lic. Mayra Janet Morales Rojo.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">M.D.O.H. Mayra Janet Morales Rojo</strong><br>
                                    <span class="f14">Depto. del Sistema Estatal de Planeación </span>
                                </p>
                                <p><span class="f14">Conmutador 211 92 00 Ext. 29215</span></p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA CURRICULAR MAYRA MORALES  SIESPLAN.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Arq. Julio Cesar Pineda.jpg" alt="." width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Arq. Julio César Pineda Martínez </strong><br>
                                    <span class="f14">Jefe del Depto. de Evaluación </span>
                                </p>
                                <p class="f14">
                                    Conmutador 211 92 00 Ext 29216<br>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_JulioPineda.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Lic. A. Issai Jimenez Ante.jpg" alt="." width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Lic. Arnulfo Issaí Jiménez Ante </strong><br>
                                    <span class="f14">Jefe del Depto. de Información para la Planeación </span>
                                </p>
                                <p class="f14">
                                    Conmutador 211 92 00 ext 29219<br &gt="">
                                    <a href="mailto:pineda@seplan.gob.mx">ajimenez@seplan.gob.mx</a>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_IssaiJimenez.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/erik.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14">Ing. Erik Demetrio Delgado Nava</strong><br>
                                <span class="f14">Jefe del Depto. de Seguimiento al Comité de Planeación para el Desarrollo del Estado de Nayarit</span>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA CURRICULAR ING ERICK DELGADO.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5" height="17" bgcolor="#a5a7a9"><h3><strong class="blanco">Dirección General de Programación y Presupuesto de la Inversión</strong></h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Antonio Hernandez Sanchez.jpg" alt="." width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Téc. Antonio Hernández Sánchez</strong><br>
                                    Director General de Programación y Presupuesto de la Inversión
                                </p>
                                <p>
                                    <span class="f14">
                                        Conmutador 211 92 00 Ext 29220<br>
                                    </span>
                                </p>
                            </td>
                            <td><a href="~/Content/files/curriculum/FICHA CURRICULAR Antonio Hernandez DIR PROGRAMAC.pdf"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Vacante.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14"></strong><br>
                                <span class="f14">Departamento de Seguimiento y Control de Programas Estatales, Convenios y Ramos General 23</span>
                            </td>
                            <td><a href=""><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Leopoldo Dominguez.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <span class="f14">
                                    <strong>Leopoldo Domínguez Gutiérrez</strong><br>
                                    Jefe del Depto. de Control de Información Estadística para la Programación
                                </span>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA_CURRICULAR_LEOPOLDO_DOMINGUEZ_GUTIERREZ.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Lic. Jesus Antonio Ruiz.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14">Lic. Jesús Antonio Ruiz Ballesteros</strong><br>
                                <span class="f14">Jefe del Depto. de Seguimiento y Control de los Ramos 06, 15, 20 y Convenios</span>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_LIC. JESUS BALLESTEROS.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Javier Zaragoza.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14">C.P. Javier Zaragoza Gómez</strong><br>
                                <span class="f14">Jefe del Depto. de Seguimiento y Control del Ramos 33 y Convenios</span>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_C. JAVIER ZARAGOZA GOMEZ.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5" height="17" bgcolor="#a5a7a9"><h3><strong class="blanco">Dirección General de Programas Operativos</strong></h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/PARA CURRICULA.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Ing. Omar Ramírez González</strong><br>
                                    <span class="f14">Director General de Programas Operativos</span>
                                </p>
                                <p><span class="f14">Conmutador 211 92 00 Ext. 29244</span></p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/1. FICHA CURRICULAR ING. OMAR RAMIREZ.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Arq. Angel Rodriguez.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14">Arq. Ángel Adrián Rodríguez Ortega</strong><br>
                                <span class="f14">Depto. de Control de Obra a Programas Especiales</span>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_ARQ ADRIAN RODRIGUEZ.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Xitle Gonzalez.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">M.A.C. Xitle Xanitzin González Domíguez</strong><br>
                                    <span class="f14">Jefe del Depto. de Control de Obra a Infraestructura Educativa y Rural</span>
                                </p>
                                <p></p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_XITLE GONZALEZ.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Ing. Gerardo Aguilar Flores.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14">Ing. Gerardo Aguilar Flores </strong><br>
                                <span class="f14">Jefe del Depto. de Control de Obra a Dependencias y Entidades</span>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_GERARDO AGUILAR.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Froilan Medina Garcia.jpg" alt="." width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Ing. Froilán Medina García</strong><br>
                                    <span class="f14">Jefe del Depto. de Control de Obra a Ayuntamientos</span>
                                </p>
                                <p class="f14">
                                    Conmutador 211 92 00 Ext. 29229, Directo 211 92 29<br>
                                    fmedina@seplan.gob.mx
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_FroilanMedina.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/genero.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14">L.E. Genaro Daniel Arce Orozco </strong><br>
                                Jefe del Depto. de Operación Financiera
                            </td>
                            <td><a href="~/Content/files/curriculum/FICHA CURRICULAR LIC GENARO ARCE.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="blanco">
                            <td height="17">&nbsp;</td>
                            <td colspan="4" class="blanco" bgcolor="#a5a7a9"><h3>Coordinación Administrativa</h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><div align="center"><img src="~/Content/images/Directorio/Coordinador Cesar Rodriguez.jpg" width="84" height="100"></div></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Lic. César Rodríguez García</strong><br>
                                    <span class="f14">Coordinador Administrativo</span>
                                </p>
                                <p class="f14">
                                    Conmutador 211 92 00 Ext. 29234<br>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA CURRICULAR LIC CESAR RODRIGUEZ.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="92">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Lic. Leonor Ortega Godinez.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p><strong class="f14">Lic. Leonor Ortega Godínez</strong><span class="f14">Jefe del Depto. de Recursos Humanos</span></p>
                                <p>
                                    <span class="f14">Conmutador 211 92 00 Ext. 29203</span><span class="f12">
                                        <br>
                                        <br>
                                    </span>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_Leonor Ortega.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Juan Manuel Cuevas.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">C.P. Juan Manuel Cuevas Prado</strong><br>
                                    <span class="f14">Jefe&nbsp;del Depto. de Recursos Financieros</span>
                                </p>
                                <p>
                                    <span class="f14">Conmutador 211 92 00 Ext. 29241</span><span class="f12">
                                        <br>
                                    </span>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA CURRICULAR CUEVAS.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>

                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Lic. Monica Fregoso Frias.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Lic. Mónica Fregoso Frías</strong><br>
                                    <span class="f14">Jefe del Depto. de Recursos Materiales</span>
                                </p>
                                <p>
                                    <span class="f14">Conmutador 211 92 00 Ext. 29239</span><br>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_MONICA FREGOSO.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Ing. Evencio Javier Burgara Vera.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Ing. Evencio Javier Burgara Vera</strong><br>
                                    <span class="f14">Jefe del Depto. de Informática</span>
                                </p>
                                <p class="f14">
                                    Conmutador 211 92 00 Ext. 292406<br>
                                </p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_EvencioBurgara.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5" height="17" bgcolor="#a5a7a9"><h3><strong class="blanco">Dirección Jurídica</strong></h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Lic. Juan Pablo Lopez.jpg" alt="" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Lic. Juan Pablo López Díaz</strong><br>
                                    <span class="f14">Director Jurídico y Titular de la Unidad de Enlace de Transparencia  y Acceso a la Información Pública.</span>
                                </p>
                                <p><span class="f14">Conmutador 211 92 00 Ext. 29217, Directo 211 92 17</span></p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FICHA_CURRICULAR_JUAN_PABLO_LOPEZ_DIAZ.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5" height="17" bgcolor="#a5a7a9"><h3 class="blanco"><strong>Coordinación de Concertación y Vinculación Social</strong></h3></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/C. Clemente Ulloa Arteaga.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">C. Clemente Ulloa Arteaga</strong><br>
                                    <span class="f14">Coordinador de Concertación y Vinculación Social</span>
                                </p>
                                <p class="f14">
                                    Conmutador 211 92 00 Ext. 29207, Directo 211 92 07<br>
                                </p>
                            </td>
                            <td><p align="center"><a href="~/Content/files/curriculum/FC_CLEMENTEULLOA.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></p></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Lic. Abraham Bastida Gutierrez.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <strong class="f14">Ing. Abraham Bastida Gutiérrez</strong><br>
                                <span class="f14">Jefe del Depto. de Vinculación Socialefe</span><span class="footerTXT"> del Depto. de Concertación Socia</span><br>
                            </td>
                            <td>
                                <p>&nbsp;</p>
                                <p align="center"><a href="~/Content/files/curriculum/FC_AbrahamBastida.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></p>
                            </td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td><img src="~/Content/images/Directorio/Ing. Victor Manuel  Cuervo Barrales.jpg" width="84" height="100"></td>
                            <td>&nbsp;</td>
                            <td>
                                <p>
                                    <strong class="f14">Lic. Víctor Manuel Cuervo Barrales</strong><br>
                                    <span class="f14">Jefe del Depto. de Vinculación Social</span>
                                </p>
                                <p>&nbsp;</p>
                            </td>
                            <td><div align="center"><a href="~/Content/files/curriculum/FC_VICTOR CUERVO.pdf" target="_blank"><img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70"></a></div></td>
                        </tr>
                        <tr>
                            <td height="17">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>

   