
@{
    ViewBag.Title = "Misión y Visión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-size:1.5em;text-align:left">
    <strong>Misión</strong>
</span>
<hr />
<p align="justify">Ejercer la rectoría en materia de la planeación del desarrollo integral de la Entidad, así como la programación y presupuesto de la inversión, coordinando y estableciendo los lineamientos y criterios generales, para la formulación, instrumentación, control y evaluación de planes y programas que conlleven al bienestar social de la población, con base en el Plan Estatal de Desarrollo y el Sistema Estatal de Planeación.</p>

<span style="font-size:1.5em;text-align:left">
    <strong>Visión</strong>
</span>
<hr />
<p align="justify">Lograr la planeación del desarrollo integral del estado a través de un proceso de participación con los Sectores Público, Privado y Social, con la intervención en el ámbito de su competencia de las distintas unidades administrativas que la conforman, así como la programación y presupuesto de la inversión.</p>

