
@{
    ViewBag.Title = "Objetivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-size:1.5em;text-align:left">
    <strong>Objetivos de la SPPP</strong>
</span>
<hr />
<p align="justify">Planear, dirigir y coordinar la elaboración e implantación de planes y programas que coadyuven al desarrollo regional y sectorial del Estado. Asimismo, evaluar el cumplimiento de las acciones que se hayan establecido en los planes y programas que sean aprobados por el Titular del Ejecutivo.</p>


