
@{
    ViewBag.Title = "ASM 2018";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-size:1.5em;text-align:left">
    <strong>Aspectos Susceptibles de Mejora (ASM) 2018</strong>
</span>
<hr />
<table width="633" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
        <tr>
            <td colspan="3" class="justificar" valign="top">
                <p><img src="~/Content/images/spacer.gif" alt="." width="12" height="12"></p>
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <th colspan="4" bgcolor="#999999" scope="col"><h2 align="left" class="linksubnegro">Evaluación de Consistencia y Resultados</h2></th>
        </tr>
        <tr>
            <td>
            <th colspan="4"><h2><strong>Ramo 33</strong></h2></td></th>
        </tr>
        <tr>
            <td colspan="2"><div align="center"><img src="~/Content/images/folder_16.png" width="16" height="16" /></div></td>
            <td colspan="2" class="f12">FAEB (FONE) </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAEB (FONE)/FAEB_AVANCES DOCTO TRABAJO ANEXO C.pdf" target="_blank">Avances al Documento de Trabajo</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAEB (FONE)/FAEB_AVANCE DOCTO INSTITUCIONAL ANEXO E.pdf" target="_blank">Avance del Documento Institucional </a></td>
        </tr>

    <td colspan="4"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>
    </tr>
    <tr>
        <td colspan="2"><div align="center"><img src="~/Content/images/folder_16.png" width="16" height="16" /></div></td>
        <td colspan="2" class="f12">FAM Asistencia Social </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAM ASISTENCIA SOCIAL/FAM AS AVANCES DOCTO TRABAJO ANEXO C.pdf" target="_blank">Avances al Documento de Trabajo </a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAM ASISTENCIA SOCIAL/FAM AS AVANCES DOCTO INSTITUCIONAL ANEXO E.pdf" target="_blank">Avance del Documento Institucional</a></td>
    </tr>

    <td colspan="4"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>
    </tr>
    <tr>
        <td colspan="2"><div align="center"><img src="~/Content/images/folder_16.png" width="16" height="16" /></div></td>
        <td colspan="2" class="f12">FAM Infraestructura Educativa </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAM INFRA EDUCATIVA/FAM INFRA AVANCES DOCTO TRABAJO ANEXO C.pdf" target="_blank">Avances al Documento de Trabajo</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAM INFRA EDUCATIVA/FAM INFRA AVANCE DOCTO INSTITUCIONAL ANEXO E.pdf" target="_blank">Avance del Documento Institucional</a></td>
    </tr>

    <td colspan="4"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>
    </tr>
    <tr>
        <td colspan="2"><div align="center"><img src="~/Content/images/folder_16.png" width="16" height="16" /></div></td>
        <td colspan="2" class="f12">FAETA - INEA </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAETA INEA/FAETA_AVANCES AL DOCTO DE TRABAJO ANEXO C.pdf" target="_blank">Avances al Documento de Trabajo </a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAETA INEA/FAETA_AVANCE DOCTO INSTITUCIONAL ANEXO E.pdf" target="_blank">Avance del Documento Institucional</a></td>
    </tr>

    <td colspan="4"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>

    <tr>
        <th colspan="4" bgcolor="#999999" scope="col"><h2 align="left" class="linksubnegro">EVALUACIÓN DE DESEMPEÑO Y ORIENTACIÓN DE RESULTADOS</h2></th>
    </tr>
    <tr>
        <td>
        <th colspan="4"><h2><strong>Ramo 33</strong></h2></td></th>
    </tr>

    <tr>
        <td colspan="2"><div align="center"><img src="~/Content/images/folder_16.png" width="16" height="16" /></div></td>
        <td colspan="2" class="f12">FAIS - FISE </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FISE/FISE AVANCE DOCTO INSTITUCIONAL.pdf" target="_blank">Avance del Documento Institucional </a></td>
    </tr>


    <td colspan="4"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>

    <tr>
        <td colspan="2"><div align="center"><img src="~/Content/images/folder_16.png" width="16" height="16" /></div></td>
        <td colspan="2" class="f12">FAFEF </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/FAFEF/FAFEF_AVANCE DEL DOCTO INSTITUCIONAL.pdf" target="_blank">Avance del Documento Institucional </a></td>
    </tr>

    <td colspan="4"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>

    
    <tr>
        <td>&nbsp;</td>
        <td><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
        <td colspan="2"><a href="~/Content/files/transparencia/ASM_2018/RESUMEN AVANCE ASM 2018.pdf" target="_blank">ANEXO: RESUMEN AVANCE ASM 2018 </a></td>
    </tr>
    <tr>
        <td colspan="3" rowspan="2" valign="bottom">
            <span class="pienota">
                Última actualización:
                <!-- #BeginDate format:fcSw1 -->Lunes, 11 Noviembre, 2019<!-- #EndDate -->
            </span>
        </td>
    </tr>
    <tr>
        <td class="limarizq" valign="top" height="21">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3" class="limaraba"><img src="~/Content/images/limaraba.gif" alt="." width="1" height="12"></td>
    </tr>
    </tbody>
</table>