
@{
    ViewBag.Title = "Cartera de Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-size:1.5em;text-align:left">
    <strong>Cartera de proyectos
    </strong>
</span>
<table width="610" border="0" align="center">
    <tbody>
        <tr>
            <td>
                <div align="center">
                    <table width="600" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td rowspan="3" class="limarizq" width="13">&nbsp;</td>
                                <td class="linksubnegro" width="572">
                                    <table width="600" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="53"><a href="~/Content/files/descargas/cartera_proyectos/1. LINEAMIENTOS determinacion de req de inf de mecanismo de planeacion.pdf" target="_blank"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16"></a></td>
                                                <td width="537"><a href="~/Content/files/descargas/cartera_proyectos/1. LINEAMIENTOS determinacion de req de inf de mecanismo de planeacion.pdf" target="_blank">1. Lineamientos para la determinación de los requerimientos de información que deberá contener el mecanismo de planeación de programas y proyectos de inversión. </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="600" border="0">
                                        <tbody>
                                            <tr>
                                                <td height="16">
                                                    
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="10"><a href="~/Content/files/descargas/cartera_proyectos/2. LINEAMIENTOS elaboracion de analisis costo-beneficio.pdf" target="_blank"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16"></a></td>
                                                                <td width="574"><a href="~/Content/files/descargas/cartera_proyectos/2. LINEAMIENTOS elaboracion de analisis costo-beneficio.pdf" target="_blank">2. Lineamientos para la elaboración y presentación de los análisis, costo y benficio de los programas y proyectos de inversión.</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="19"><a href="~/Content/files/descargas/cartera_proyectos/3. LINEAMIENTOS para registro en cartera de proyectos.pdf" target="_blank"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16"></a></td>
                                                                <td width="565"><a href="~/Content/files/descargas/cartera_proyectos/3. LINEAMIENTOS para registro en cartera de proyectos.pdf" target="_blank">3. Lineamientos para el registro en la cartera de programas y proyectos de inversión.</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="10"><a href="~/Content/files/descargas/cartera_proyectos/4. LINEAMIENTOS seguimiento de la rentabilidad de los programas.pdf" target="_blank"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16"></a></td>
                                                                <td width="574"><a href="~/Content/files/descargas/cartera_proyectos/4. LINEAMIENTOS seguimiento de la rentabilidad de los programas.pdf" target="_blank">4. Lineamientos para el seguimiento de la rentabilidad de los programas y proyectos de inversión de la Adminstracón Pública Federal.</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="10"><a href="~/Content/files/descargas/cartera_proyectos/5. LINEAMIENTOS dictamenes de programas y proyectos de inversion.pdf" target="_blank"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16"></a></td>
                                                                <td width="580"><a href="~/Content/files/descargas/cartera_proyectos/5. LINEAMIENTOS dictamenes de programas y proyectos de inversion.pdf" target="_blank">5. Lineamientos relativos a los dictámenes de los programas y proyectos de inversión a cargo de las dependencias y entidades de la Adminstracón Pública Federal.</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="29"><a href="~/Content/files/descargas/cartera_proyectos/CERTIFICADO DE FACTIBILIDAD (INFR. EN SALUD).pdf" target="_blank"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16"></a></td>
                                                                <td width="561"><a href="~/Content/files/descargas/cartera_proyectos/CERTIFICADO DE FACTIBILIDAD (INFR. EN SALUD).pdf" target="_blank">Certificados de Factibilidad (Infraestructura en Salud)</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="600" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="600" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="24"><img src="~/Content/images/icono_word.png" alt="" width="16" height="16"></td>
                                                <td width="566"><a href="~/Content/files/descargas/cartera_proyectos/GLOSARIO DE TERMINOS.doc" target="_blank">Glosario de Términos</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="600" border="0">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="600" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="10"><a href="~/Content/files/descargas/cartera_proyectos/MODELO DE FICHA TECNICA.xlsx" target="_blank"><img src="~/Content/images/icono_xls.png" alt="" width="16" height="16"></a></td>
                                                <td width="580"><a href="~/Content/files/descargas/cartera_proyectos/MODELO DE FICHA TECNICA.xlsx" target="_blank">Modelo de Ficha Técnica</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="600" border="0">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="600" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="44"><a href="~/Content/files/descargas/cartera_proyectos/PEF 2012 (VER ARTICULOS 15 Y 31).pdf" target="_blank"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16"></a></td>
                                                <td width="546"><a href="~/Content/files/descargas/cartera_proyectos/PEF 2012 (VER ARTICULOS 15 Y 31).pdf" target="_blank">PEF 2012 (Artículos 15 y 31)</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h1>&nbsp;</h1>
                                    <div align="center"></div>
                                </td>
                                <td rowspan="3" class="limarder" width="15">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="linksubnegro" align="right">
                                    <table width="592" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="281">
                                                    <span class="pienota">
                                                        Última actualización:
                                                        <!-- #BeginDate format:fcAm1 -->Miércoles, Agosto 21, 2013<!-- #EndDate -->
                                                    </span>
                                                </td>
                                                <td width="15">&nbsp;</td>
                                                <td width="282"><a href="http://get.adobe.com/es/reader/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagen86','','img/desc_acrobat03.png',0)"><img src="img/desc_acrobat01.gif" alt="" width="236" height="36"><img src="img/desc_acrobat02.png" alt="Descarga Acrobat" name="Imagen86" id="Imagen86" width="39" height="36" border="0"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="http://get.adobe.com/es/reader/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagen86','','img/desc_acrobat03.png',0)"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="linksubnegro">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p align="center"></p>
            </td>
        </tr>
    </tbody>
</table>