
@{
    ViewBag.Title = "Guía elaboración MIR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-size:1.5em;text-align:left">
    <strong>Guía de Construcción de MIR</strong>
</span>
<hr />
<table width="633" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
        <tr>
            <td colspan="3" class="justificar" valign="top">
                <p><img src="~/Content/images/spacer.gif" alt="." width="12" height="12"></p>
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <th colspan="4" bgcolor="#999999" scope="col"><h2 align="left" class="linksubnegro">Guía Federal - SHCP</h2></th>
        </tr>
        <tr>
            <td colspan="2"><div align="right"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></div></td>
            <td colspan="2" class="f12"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR Federal_SHCP.pdf">Guía MIR Federal - SHCP</a></td>
        </tr>
        <tr>
            <td colspan="4"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>
        </tr>
        <tr>
            <td colspan="4" bgcolor="#FFFFFF" class="linksubnegro"><h2>&nbsp;</h2></td>
        </tr>
        <tr>
            <td height="17" colspan="4" bgcolor="#999999">
                <div align="right">
                    <h2 align="left" class="linksubnegro">Documentos Guía MIR - Local</h2>
                </div>
            </td>
        </tr>
        <tr>
            <td height="17" colspan="4" bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"><img src="~/Content/images/folder_16.png" alt="" width="16" height="16" /></div></td>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><strong>I. Metodología Marco Lógico</strong></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/I. METODOLOGÍA MARCO LÓGICO MML/I. Introducción MML.pdf" target="_blank">I. Introducción MML</a></td>
        </tr>
        <tr>
            <td height="17" colspan="4" bgcolor="#FFFFFF"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"><img src="~/Content/images/folder_16.png" alt="" width="16" height="16" /></div></td>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><strong>II. Arbol del Problema</strong></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/II. ARBOL DEL PROBLEMA/II.1. Identificación del Problema.pdf" target="_blank">II.1 Identificación del Problema</a></td>
        </tr>
        <tr>
            <td height="8" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
            <td width="16" height="8" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td width="519" height="8" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/II. ARBOL DEL PROBLEMA/II.1.1 Identificacion Problema Modalidad inversa.pdf">II.1.1 Idenitificación Problema Mod. Inversa</a></td>
        </tr>
        <tr>
            <td height="8" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="8" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="8" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/II. ARBOL DEL PROBLEMA/II.2. Análisis del problema.pdf">II.2 Análisis del Problema </a></td>
        </tr>
        <tr>
            <td height="17" colspan="4" bgcolor="#FFFFFF"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"><img src="~/Content/images/folder_16.png" alt="" width="16" height="16" /></div></td>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><strong>III. Arbol de Objetivos</strong></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/III. ARBOL DE OBJETIVOS/III.1 Arbol Objetivos.pdf">III.1 Arbol de Objetivos</a></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/III. ARBOL DE OBJETIVOS/III.2 Selección Alternativas.pdf">III.2 Selección de Alternativas </a></td>
        </tr>
        <tr>
            <td height="17" colspan="4" bgcolor="#FFFFFF"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"><img src="~/Content/images/folder_16.png" alt="" width="16" height="16" /></div></td>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><strong>IV. Matríz de Indicadores de Resultados MIR</strong></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/IV. MATRIZ DE INDICADORES DE RESULTADOS MIR/IV.1 Resumen Narrativo.pdf">IV.1 Resumen Narrativo </a></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/IV. MATRIZ DE INDICADORES DE RESULTADOS MIR/IV.2 Supuestos.pdf">IV.2 Supuestos </a></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/IV. MATRIZ DE INDICADORES DE RESULTADOS MIR/IV.3 Indicadores.pdf">IV.3 Indicadores </a></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/IV. MATRIZ DE INDICADORES DE RESULTADOS MIR/IV.4 LB_Metas_ Medios Ver.pdf">IV.4 Metas y Medios de Verificación </a> </td>
        </tr>
        <tr>
            <td height="17" colspan="4" bgcolor="#FFFFFF"><div align="center">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"><img src="~/Content/images/folder_16.png" alt="" width="16" height="16" /></div></td>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><strong>Anexos</strong></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"> <a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/V. ANEXOS\Aplicación Metodo Lluvia de ideas.pdf"> Método Lluvia de Ideas</a></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/V. ANEXOS/FORMATO MML - guia arbol.pdf">Formato MML - Guía Arbol de Problemas </a> </td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/V. ANEXOS/FORMATO MML - arbol problema.pdf">Formato MML - Arbol de Problemas</a></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/V. ANEXOS/FORMATO MML - guia a-obj.pdf">Formato MML - Guía Arbol de Objetivos </a></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/V. ANEXOS/FORMATO MML - arbol obj.pdf">Formato MML - Arbol de Objetivos</a></td>
        </tr>
        <tr>
            <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="right"></div></td>
            <td height="17" bgcolor="#FFFFFF"><img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" /></td>
            <td height="17" bgcolor="#FFFFFF"><a href="~/Content/files/descargas/transparencia/GUÍA MIR/Guia MIR/V. ANEXOS/FORMATO MML - MIR.pdf">Formato MML - Formato MIR</a></td>
        </tr>
        <tr>
            <td height="17" colspan="4" bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" class="separalista" valign="top"><img src="~/Content/images/spacer.gif" alt="..." width="7" height="7"></td>
        </tr>
        <tr>
            <td colspan="3" rowspan="2" valign="bottom">
                <span class="pienota">
                    Última actualización:
                    <!-- #BeginDate format:fcSw1 -->Viernes, 22 Agosto, 2018<!-- #EndDate -->
                </span>
            </td>
        </tr>
        <tr>
            <td class="limarizq" valign="top" height="21">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3" class="limaraba"><img src="~/Content/images/limaraba.gif" alt="." width="1" height="12"></td>
        </tr>
    </tbody>
</table>