@model IEnumerable<siteSPPP.Models.ARCHIVOS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Marco Regulatorio</h2>
@foreach (var item in Model)
{
    if (item.IDTIPO == 6)
    {
        <div class="table-responsive text-left">
            <img src="~/Content/images/icono_pdf.png" />
            <a href="@Url.Action("MostrarPDF", "Archivos", new { id = item.IDARCHIVO })" target="_blank">
                @Html.DisplayFor(s => item.NOMBREARCHIVO)
            </a>
            <hr style="clear:both" />
        </div>
    }
}
<br />
<h2>Información de apoyo para la Planeación Municipal 2011 – 2014</h2>
@foreach (var item in Model)
{
    if (item.IDTIPO == 7)
    {
        <div class="table-responsive text-left">
            <img src="~/Content/images/icono_pdf.png" />
            <a href="@Url.Action("MostrarPDF", "Archivos", new { id = item.IDARCHIVO })" target="_blank">
                @Html.DisplayFor(s => item.NOMBREARCHIVO)
            </a>
            <hr style="clear:both" />
        </div>
    }
}