
@{
    ViewBag.Title = "pdm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-size:1.5em;text-align:left">
    <strong>Planes Municipales de Desarrollo, Administración 2014 - 2017</strong>
</span>
<table border="0" align="center" class="table-responsive">
    <tbody>
        <tr>
            <td>
                <p align="center"></p>
                <table width="600" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <table class="nav" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td width="8"><img src="~/Content/images/spacer.gif" alt="" width="12" height="25"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" class="limarizq" width="13">&nbsp;</td>
                            <td class="linksubnegro" width="572">
                                <div align="center">
                                    <table width="569" cellspacing="3">
                                        <tbody>
                                            <tr>
                                                <td colspan="5" align="center"><img src="~/Content/images/spacer.gif" alt="" width="7" height="7"></td>
                                            </tr>
                                            <tr>
                                                <td width="134" align="center"><a href="https://acaponeta.nayarit.gob.mx/wp-content/uploads/2017/01/PLAN-DE-DESARROLLO-MUNICIPAL.pdf" target="_blank"><img src="~/Content/images/pdm_01.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td width="136" align="center"><a href="http://ahuacatlanavanza.gob.mx/plataforma/juridico/leyes%20XLI/plan%20de%20desarrollo%20municipal%202017%202021.pdf" target="_blank"><img src="~/Content/images/pdm_02.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td width="136" align="center"><a href="" target="_blank"><img src="~/Content/images/pdm_03.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td width="136" align="center"><a href="https://www.bahiadebanderas.gob.mx/transparencia20172021/B-PLAN%20DE%20DESARROLLO/PMD%20ORIGINAL.pdf" target="_blank"><img src="~/Content/images/pdm_04.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td width="1" align="center">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <strong><a href="https://acaponeta.nayarit.gob.mx/wp-content/uploads/2017/01/PLAN-DE-DESARROLLO-MUNICIPAL.pdf" target="_blank">Acaponeta</a></strong><br>
                                                    <span class="pienota">
                                                        67 páginas
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="http://ahuacatlanavanza.gob.mx/plataforma/juridico/leyes%20XLI/plan%20de%20desarrollo%20municipal%202017%202021.pdf" target="_blank">Ahuacatlán</a></strong><br>
                                                    <span class="pienota">
                                                        39 páginas<br>
                                                       
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="" target="_blank">Amatlán de Cañas</a></strong><br>
                                                    <span class="pienota">
                                                        No disponible<br>
                                                        
                                                    </span>
                                                </td>
                                                <td valign="top" align="center">
                                                    <strong><a href="https://www.bahiadebanderas.gob.mx/transparencia20172021/B-PLAN%20DE%20DESARROLLO/PMD%20ORIGINAL.pdf" target="_blank">Bahía de Banderas</a></strong><br>
                                                    <span class="pienota">
                                                        260 páginas<br>
                                                       
                                                    </span>
                                                </td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                           
                                            <tr>
                                                <td align="center"><a href="http://e-compostela.gob.mx/pdf/PDMCompostela2017-2021.pdf" target="_blank"><img src="~/Content/images/pdm_05.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="https://municipiodelnayar.gob.mx/wp-content/uploads/2018/05/PDMDelNayar2017.pdf" target="_blank"><img src="~/Content/images/pdm_06.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="" target="_blank"><img src="~/Content/images/pdm_07.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="https://www.ixtlandelrio.gob.mx/transparencia/2017/docs/PLAN%20DE%20DESARROLLO%20MUNICIPAL%20CORRECCI%C3%93N%201.pdf" target="_blank"><img src="~/Content/images/pdm_08.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <strong><a href="http://e-compostela.gob.mx/pdf/PDMCompostela2017-2021.pdf">Compostela</a></strong><br>
                                                    <span class="pienota">
                                                        93 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="https://municipiodelnayar.gob.mx/wp-content/uploads/2018/05/PDMDelNayar2017.pdf" target="_blank">El Nayar</a></strong><br>
                                                    <span class="pienota">
                                                        86 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="" target="_blank">Huajicori</a></strong><br>
                                                    <span class="pienota">
                                                        No disponible<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="https://www.ixtlandelrio.gob.mx/transparencia/2017/docs/PLAN%20DE%20DESARROLLO%20MUNICIPAL%20CORRECCI%C3%93N%201.pdf" target="_blank">Ixtlán del Río</a></strong><br>
                                                    <span class="pienota">
                                                        61 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                           
                                            <tr>
                                                <td align="center"><a href="http://jalapueblomagico.gob.mx/docs/jala_plan_municipal_desarrollo1721.pdf" target="_blank"><img src="~/Content/images/pdm_09.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="" target="_blank"><img src="~/Content/images/pdm_10.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="http://www.rosamoradanayarit.gob.mx/PMD%202017-2021.pdf" target="_blank"><img src="~/Content/images/pdm_11.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="http://www.ruiznayarit.gob.mx/trans39/PDM2018.pdf" target="_blank"><img src="~/Content/images/pdm_12.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <strong><a href="http://jalapueblomagico.gob.mx/docs/jala_plan_municipal_desarrollo1721.pdf" target="_blank">Jala</a></strong><br>
                                                    <span class="pienota">
                                                        103 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="" target="_blank">La Yesca</a></strong><br>
                                                    <span class="pienota">
                                                        No disponible<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="http://www.rosamoradanayarit.gob.mx/PMD%202017-2021.pdf" target="_blank">Rosamorada</a></strong><br>
                                                    <span class="pienota">
                                                        184 páginas<br>
                                                       
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="http://www.ruiznayarit.gob.mx/trans39/PDM2018.pdf" target="_blank">Ruiz</a></strong><br>
                                                    <span class="pienota">
                                                        67 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                            
                                            <tr>
                                                <td align="center"><a href="" target="_blank"><img src="~/Content/images/pdm_13.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="https://sanpedrolagunillas.com/pdfs/gaceta/plan-desarrollo-municipal-2017-2021.pdf" target="_blank"><img src="~/Content/images/pdm_14.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="https://santamariadeloro.nayarit.gob.mx/images/xliayto/aytoxli/art33/f_i/1.-%20PLAN%20DE%20DESARROLLO%20MUNICPAL%20SAMAO%202017-2021.pdf" target="_blank"><img src="~/Content/images/pdm_15.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="http://santiago-ixcuintla.gob.mx/ltaip/ayto/art39b/pdm2017-2021.pdf" target="_blank"><img src="~/Content/images/pdm_16.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <strong><a href="">San Blas</a></strong><br>
                                                    <span class="pienota">
                                                        No disponilbe<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="https://sanpedrolagunillas.com/pdfs/gaceta/plan-desarrollo-municipal-2017-2021.pdf" target="_blank">San Pedro Lagunillas</a></strong><br>
                                                    <span class="pienota">
                                                        40 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td valign="top" align="center">
                                                    <strong><a href="https://santamariadeloro.nayarit.gob.mx/images/xliayto/aytoxli/art33/f_i/1.-%20PLAN%20DE%20DESARROLLO%20MUNICPAL%20SAMAO%202017-2021.pdf" target="_blank">Santa María del Oro</a></strong><br>
                                                    <span class="pienota">
                                                        124 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="http://santiago-ixcuintla.gob.mx/ltaip/ayto/art39b/pdm2017-2021.pdf" target="_blank">Santiago Ixcuintla</a></strong><br>
                                                    <span class="pienota">
                                                        82 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center"><a href="" target="_blank"><img src="~/Content/images/pdm_17.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="http://tepic.gob.mx/archivos/transparencia/PMD_Tepic-2017-2021_PagXPag_1.pdf" target="_blank"><img src="~/Content/images/pdm_18.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td valign="top" align="center"><a href="http://www.tuxpan.gob.mx/area20/ar39/inc_b/pmd_xli.pdf" target="_blank"><img src="~/Content/images/pdm_19.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center"><a href="http://transparencia.xalisco.gob.mx/files/art39/b/PD_2017_2021.pdf" target="_blank"><img src="~/Content/images/pdm_20.jpg" alt="" width="103" height="141" border="0"></a></td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <strong><a href="" target="_blank">Tecuala</a></strong><br>
                                                    <span class="pienota">
                                                        No disponible<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="http://tepic.gob.mx/archivos/transparencia/PMD_Tepic-2017-2021_PagXPag_1.pdf" target="_blank">Tepic</a></strong><br>
                                                    <span class="pienota">
                                                        212 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td valign="top" align="center">
                                                    <strong><a href="http://www.tuxpan.gob.mx/area20/ar39/inc_b/pmd_xli.pdf" target="_blank">Tuxpan</a></strong><br>
                                                    <span class="pienota">
                                                        82 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">
                                                    <strong><a href="http://transparencia.xalisco.gob.mx/files/art39/b/PD_2017_2021.pdf" target="_blank">Xalisco</a></strong><br>
                                                    <span class="pienota">
                                                        75 páginas<br>
                                                        
                                                    </span>
                                                </td>
                                                <td align="center">&nbsp;</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td rowspan="4" class="limarder" width="15">&nbsp;</td>
                        </tr>
                       
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>