@model IEnumerable<siteSPPP.Models.PLANTILLA>
@{
    ViewBag.Title = "Sistema de Evaluación del Desempeño";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-size:1.5em;text-align:left">
    <strong>Sistema de Evaluación del Desempeño</strong>
</span>
<hr />
<table width="683" cellspacing="0" cellpadding="0" border="0" align="center" class="table-responsive">
    <tbody>
        <tr>
            <td class="justificar" width="355" valign="top">
                <div align="justify">
                    @foreach (var item in Model)
                    {
                        @Html.Raw(item.CONTENIDO)
                    }
                </div>
            </td>
            <td width="17" valign="top" align="right"><p><img src="~/Content/images/spacer.gif" alt="." width="12" height="12"></p></td>
            <td width="300" valign="top">
                <table width="212" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td><img src="~/Content/images/ind_03.jpg" alt="." width="300" height="50"></td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top" bgcolor="#eeeeee">
                                <ul>
                                    <li>
                                        <a href="http://svo-14-93.servidoresvirtuales.mx/apex/f?p=124:385" target="_blank">
                                            <strong>
                                                Ver indicadores por ejercicio fiscal 
                                                (Para el público en general)
                                            </strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Content/files/descargas/indicadores/Instructivo Metodológico (SIID).pdf" target="_blank">
                                            Instructivo Metodológico
                                            (Descargar PDF)
                                        </a>
                                    </li>
                                    <li> <a href="http://svo-14-93.servidoresvirtuales.mx/apex/f?p=121" target="_blank"> Acceso al Sistema (Para Usuarios Registrados) </a> </li>
									<strong>Lineamientos: </strong> <br />
									 1. Pp (Programas Presupuestales)
									<li> <a href="~/Content/files/descargas/transparencia/Lineamientos de creacion_modificacion Pp.pdf" target="_blank">Lineamientos de creación o modificiación Pp </a> </li>
									 2. MIR (Matrices de Indicadores de Resultados)
									<li> <a href="/Planeacion/guia_MIR" >Guía de creación MIR </a> (SHCP)</li>
									<li> <a href="~/Content/files/descargas/transparencia/Lineamientos Modificación MIR.pdf" target="_blank">Lineamientos modificación MIR </a></li>
									<li> <a href="~/Content/files/descargas/transparencia/Lineamientos revisión_actualización-metas.pdf" target="_blank">Lineamientos para la revisión y seguimiento de metas de MIR</a></li>
									
									
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top" bgcolor="#FFFFFF"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                            <td bgcolor="#FFFFFF"><img src="~/Content/images/ind_abajo.gif" alt="." width="300" height="3"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="212" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td><img src="~/Content/images/ind_03A.jpg" alt="." width="300" height="50"></td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top" bgcolor="#eeeeee">Es  el que conduce al mejoramiento de las condiciones de vida de la población  en   diferentes ámbitos : salud, educación, nutrición,  vivienda , vulnerabilidad,  seguridad  social, empleos, salarios. Contribuyendo con ello a la reducción de la pobreza  y la desigualdad en el empleo. </td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/ind_abajo.gif" alt="." width="300" height="3"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="212" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td><img src="~/Content/images/ind_02.jpg" alt="." width="300" height="50"></td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top" bgcolor="#eeeeee">(<strong>Nota</strong>: Esta sección no se encuentra disponible por actualización del Sitio Web...)</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td class="triaverde" valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top" bgcolor="#eeeeee"><img src="~/Content/images/ind_eva.jpg" alt="." width="300" height="50"></td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top" bgcolor="#eeeeee">
                                <ul>
                                    <li><a href="http://www.nayarit.gob.mx/transparenciafiscal/des/5_evaluacion_de_resultados/evaluacion_desempeno/evaluacion_gubernamental_2008.pdf" target="_blank">2008</a></li>
                                    <li><a href="http://www.nayarit.gob.mx/transparenciafiscal/des/5_evaluacion_de_resultados/evaluacion_desempeno/evaluacion_gubernamental_2009.pdf" target="_blank">2009</a></li>
                                    <li><a href="http://www.nayarit.gob.mx/transparenciafiscal/des/5_evaluacion_de_resultados/evaluacion_desempeno/evaluacion_gubernamental_2010.pdf" target="_blank">2010</a></li>
                                    <li><a href="http://www.nayarit.gob.mx/transparenciafiscal/des/5_evaluacion_de_resultados/evaluacion_desempeno/evaluacion_gubernamental_2011.pdf" target="_blank">2011</a></li>
                                    <li><a href="~/Planeacion/Evaluación_2012" target="_blank">2012</a></li>
                                    <li><a href="~/Planeacion/Evaluación_2013" target="_blank">2013</a></li>
                                    <li><a href="~/Planeacion/Evaluación_2014" target="_blank">2014</a></li>
									<li><a href="~/Content/files/descargas/transparencia/Criterios Grales_EvaluacProgramasEstatales.pdf" target="_blank">Criterios Generales para la Evaluación de los Programas Estatales </a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/ind_abajo.gif" alt="." width="300" height="3"></td>
                        </tr>
                    </tbody>
                </table>
                <img src="~/Content/images/spacer.gif" alt="." width="12" height="12">
                <table width="212" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td><img src="~/Content/images/ind_04.jpg" alt="." width="300" height="50"></td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top" bgcolor="#eeeeee">
                                <ul>
                                    <li><a href="~/Content/files/descargas/transparencia/PROGRAMA ANUAL DE EVALUACION 2013.pdf" target="_blank">2013</a></li>
                                    <li><a href="~/Content/files/descargas/transparencia/evaluaciones 2014/Programa Anual de Evaluacion para el Ejercicio Fiscal 2014.docx">2014</a></li>
                                    <li><a href="~/Content/files/descargas/indicadores/Programa Anual de Evaluacion para el Ejercicio Fiscal 2015.pdf">2015</a></li>
                                    <li><a href="~/Content/files/descargas/transparencia/evaluaciones 2016/Programa Anual de Evaluacion para el Ejercicio Fiscal 2016.pdf">2016</a></li>
                                    <li><a href="~/Content/files/descargas/transparencia/evaluaciones 2017/Programa Anual de Evaluacion para el Ejercicio Fiscal 2017.pdf">2017</a></li>
                                    <li><a href="~/Content/files/descargas/transparencia/PAE 2018.pdf">2018</a></li>
                                    <li><a href="~/Content/files/descargas/transparencia/PAE2019.pdf">2019</a></li>
                                </ul>
                                <p align="center"><strong>Seguimiento al Programa Anual de Evaluación (PAE)</strong></p>
                                <ul>
                                    <li><a href="/Planeacion/pae_2015">2015</a></li>
									<ul>
									<li><a href="~/Content/files/transparencia/pae_2015/CONVENIO EVALUADOR EXTERNO-INDETEC.pdf">- Convenio Evaluador Externo</a></li>
									<li><a href="~/Content/files/transparencia/pae_2015/TDR evaluacionConsistencia.pdf">- TdR Evaluación de Consistencia</a></li>
									<li><a href="~/Content/files/transparencia/pae_2015/TDR evaluacionDesempeno.pdf">- TdR Evaluación de Desempeño</a></li>
									</ul>
                                    <li><a href="/Planeacion/pae_2016">2016</a></li>
									<ul>
									<li><a href="~/Content/files/transparencia/pae_2016/ANEXO 4 NAYARIT EVALUACION FONDOS (PRELIMINAR).pdf">- Anexo de Convenio Evaluador</a></li>
									<li><a href="~/Content/files/transparencia/pae_2016/TdR Evaluacion ejercicio 2015.pdf">- TdR Evaluación del Ejercicio 2015</a></li>
									<li><a href="~/Content/files/transparencia/pae_2016/SEGUIMIENTO PAE2016 dic2016.pdf">- Seguimiento PAE 2016</a></li>
									</ul>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/ind_abajo.gif" alt="." width="300" height="3"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="212" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td><img src="~/Content/images/ind_05.jpg" alt="." width="300" height="50"></td>
                        </tr>
                        <tr>
                            <td class="triaverde" valign="top" bgcolor="#eeeeee">
                                <p>&nbsp;</p>
                                <ul>
                                    <li>
                                        <a href="~/Content/files/descargas/transparencia/evaluaciones 2015/ASM/Mecanismo para el seguimiento a los aspectos susceptibles.pdf" target="_blank">Mecanismos de Seguimiento de ASM</a>
                                    </li>
                                    <li><a href="~/Content/files/transparencia/evaluaciones_2014/FORMATOS SEGUIMIENTO ASM.xlsx" target="_blank">Formatos Seguimiento ASM</a></li>
                                    <li>Seguimiento a ASM</li>
                                    <li><a href="~/Content/files/descargas/transparencia/evaluaciones 2015/ASM/ASM FISE-FAFEF 2014.pdf" target="_blank"> 2014</a></li>

                                    <li><a href="~/Content/files/descargas/transparencia/evaluaciones 2015/ASM/ASM FISE-FAFEF 2015.pdf" target="_blank"> 2015</a></li>
                                    <li><a href="/Planeacion/ASM_2016">2016</a></li> 
									<li><a href="/Planeacion/ASM_2017">2017</a></li>
                                </ul>
                                <ul></ul>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="~/Content/images/ind_abajo.gif" alt="." width="300" height="3"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="separalista" valign="top"><img src="~/Content/images/spacer.gif" alt="..." width="7" height="7"></td>
        </tr>
        <tr>
            <td colspan="3" rowspan="2" valign="bottom">
                <span class="pienota">
                    Última actualización:
                    <!-- #BeginDate format:fcSw1 -->Viernes, 28 Abril, 2017<!-- #EndDate -->
                </span>
            </td>
        </tr>
        <tr>
            <td class="limarizq" valign="top" height="21">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3" class="limaraba"><img src="~/Content/images/limaraba.gif" alt="." width="1" height="12"></td>
        </tr>
    </tbody>
</table>