
@{
    ViewBag.Title = "Convocatorias Municipales IMPLAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<span style="font-size:1.5em;text-align:left">
    <strong>@ViewBag.Title</strong>
</span>
<hr />

<table border="0">


    <tr>
        <td height="17" bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
        <td height="29" bgcolor="#FFFFFF"></td>
        <td bgcolor="#FFFFFF">
            <h2>Directora o Director del IMPLAN</h2>
        </td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">
            <h2>Integrantes del Consejo Consultivo del IMPLAN</h2>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Amatlán_Convocatoria Director.pdf" target="_blank"><strong>Amatlán de Cañas</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Amatlán_Convocatoria Consejo Consultivo Ciudadano.pdf" target="_blank"><strong>Amatlán de Cañas</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/JALA_CONVOCATORIA DIRECTOR.pdf" target="_blank"><strong>Jala</strong>  CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/JALA_CONVOCATORIA PARA EL CONSEJO CONSULTIVO.pdf" target="_blank"><strong>Jala</strong>  CERRADA</a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Santiago Ixcuintla_Convocatoria para Director.pdf" target="_blank"><strong>Santiago Ixcuintla</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Santiago Ixcuintla_Convocatoria para Integrantes.pdf" target="_blank"><strong>Santiago Ixcuintla</strong> CERRADA</a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/San Pedro_Convocatoria Director.pdf" target="_blank"><strong>San Pedro Lagunillas</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/San Pedro_Convocatoria Consejo Consultivo.pdf" target="_blank"><strong>San Pedro Lagunillas</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Huajicori Director Planeacion.pdf" target="_blank"><strong>Huajicori</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Huajicori_Consejo Consultivo.pdf" target="_blank"><strong>Huajicori</strong> CERRADA</a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/La Yesca_Convocatoria_Director.pdf" target="_blank"><strong>La Yesca</strong>  CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/La Yesca_Convocatoria_Consejeros_Consultivos.pdf" target="_blank"><strong>La Yesca</strong>  CERRADA</a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Tecuala_CONVOCATORIA DIRECTOR.pdf" target="_blank"><strong>Tecuala</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Tecuala_CONVOCATORIA CONSEJO CONSULTIVO.pdf" target="_blank"><strong>Tecuala</strong> CERRADA</a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Ixtlan del Rio_Director.pdf" target="_blank"><strong>Ixtlán del Río</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Ixtlan del Rio_Consejeros Consultivos.pdf" target="_blank"><strong>Ixtlán del Río</strong></a>
        </td>
    </tr>


    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/XLI-TOMO_XIV_convocatorias.pdf" target="_blank"><strong>Acaponeta</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/XLI-TOMO_XIV_convocatorias.pdf" target="_blank"><strong>Acaponeta</strong> CERRADA</a>
        </td>
    </tr>

    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Samao_Convocatoria Director.pdf" target="_blank"><strong>Santa María del Oro</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Samao_Convocatoria Consejo consultivo.pdf" target="_blank"><strong>Santa María del Oro</strong> CERRADA</a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Ruiz_Convocatora Director.pdf" target="_blank"><strong>Ruiz</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Ruiz_Convocatora Consejeros Consultivos.pdf" target="_blank"><strong>Ruiz</strong> </a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="#">Del Nayar</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/DelNayar_Convocatoria Consejo Consultivo.pdf" target="_blank"><strong>Del Nayar</strong> CERRADA</a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF"> 
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/AHUACATLAN_CONVOCATORIA DIRECTOR GENERAL.pdf" target="_blank"><strong>Ahuacatlán</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/AHUACATLAN_CONVOCATORIA CONSEJO CONSULTIVO.pdf" target="_blank"><strong>Ahuacatlán</strong> </a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/San Blas_Convocatoria Director.pdf" target="_blank"><strong>San Blas</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/San Blas_Convocatoria Consejo Consultivo.pdf" target="_blank"><strong>San Blas</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Xalisco_Convocatorias-DIRECTOR.pdf" target="_blank"><strong>Xalisco</strong> CERRADA</a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Xalisco_Convocatorias-CONSEJO.pdf" target="_blank"><strong>Xalisco</strong> CERRADA</a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF"></td>
        <td bgcolor="#FFFFFF">
            <a href="#"></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Compostela_Convocatoria Consejo Consultivo.pdf" target="_blank"><strong>Compostela</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            
        </td>
        <td bgcolor="#FFFFFF">
            
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/transparencia/Convocatorias IMPLAN/Tuxpan_Convocatorias Consejo.pdf" target="_blank"><strong>Tuxpan</strong> CERRADA</a>
        </td>
    </tr>







</table>