
@{
    ViewBag.Title = "Convocatorias Municipales IPLANAY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<span style="font-size:1.5em;text-align:left">
    <strong>@ViewBag.Title</strong>
</span>
<hr />

<table border="0">


    <tr>
        <td height="17" bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
        <td height="29" bgcolor="#FFFFFF"></td>
        <td bgcolor="#FFFFFF">
            <h2>Directora o Director del IPLANAY</h2>
        </td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">
            <h2>Integrantes del Consejo Consultivo del IPLANAY</h2>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/acta enero 2016 sppp.pdf"><strong>Acaponeta</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/1 SO SPPP ENERO 2017.pdf"><strong>Acaponeta</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-25 (1)febrero.pdf"><strong>Ahuacatlán</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/1 SE enero 2017.pdf"><strong>Ahuacatlán</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (1)marzo.pdf"><strong>Amatlán de Cañas</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/2 SO SPPP FEBRERO 2017.pdf"><strong>Amatlán de Cañas</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/actaabrilsppp.pdf"><strong>Bahía de Banderas</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/2 SE febrero 2017.pdf"><strong>Bahía de Banderas</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/MAYO ACTA 05 SPPP 2016.pdf"><strong>Compostela</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/3 SO SPPP MARZO 2017.pdf"><strong>Compostela</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (3)junio.pdf"><strong>El Nayar</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/3 SE marzo 2017.pdf"><strong>El Nayar</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (4)julio.pdf"><strong>Huajicori</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/4 SO SPPP ABRIL 2017.pdf"><strong>Huajicori</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (5)agosto.pdf"><strong>Ixtlán del Río</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/4 SE abril 2017.pdf"><strong>Ixtlán del Río</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (6)septiembre.pdf"><strong>Jala</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/5 SO SPPP MAYO 2017.pdf"><strong>Jala</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/EXTRA09SPPP.pdf"><strong>San Pedro Lagunillas</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/5 SE mayo 2017.pdf"><strong>San Pedro Lagunillas</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (10)octubre.pdf"><strong>Santa María del Oro</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/6 SE mayo 2017.pdf"><strong>Santa María del Oro</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (11)noviembre.pdf"><strong>Santiago Ixcuintla</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/7 SE mayo 2017.pdf"><strong>Santiago Ixcuintla</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (12)diciembre.pdf"><strong>Tecuala</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/6 SO SPPP JUNIO 2017.pdf"><strong>Tecuala</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (12)diciembre.pdf"><strong>Tepic</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/6 SO SPPP JUNIO 2017.pdf"><strong>Tepic</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (12)diciembre.pdf"><strong>Tuxpan</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/6 SO SPPP JUNIO 2017.pdf"><strong>Tuxpan</strong></a>
        </td>
    </tr>
    <tr>
        <td height="19" bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2016/2017-01-26 (12)diciembre.pdf"><strong>Xalisco</strong></a>
        </td>
        <td bgcolor="#FFFFFF">
            <img src="~/Content/images/icono_pdf.png" alt="" width="16" height="16" />
        </td>
        <td bgcolor="#FFFFFF">
            <a href="~/Content/files/descargas/actas_juridico/2017/6 SO SPPP JUNIO 2017.pdf"><strong>Xalisco</strong></a>
        </td>
    </tr>



</table>