
@{
    ViewBag.Title = "Plan Nacional de Insfraestructura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<span style="font-size:1.5em;text-align:left">
    <strong>Plan Nacional de Insfraestructura</strong>
</span>
<hr />
<p align="justify">La función de planeación en el Estado, se institucionaliza a través de la Ley que crea “El Comité de Planeación para el Desarrollo del Estado de Nayarit”, el cual surge como organismo público con personalidad jurídica y patrimonio propio que opera como canal único de comunicación y coordinación entre los tres órganos de gobierno y los sectores privado y social, y que se conforma con los comités promotores de desarrollo de los municipios, para integrar el Sistema Estatal y Nacional de Planeación Democrática. Posteriormente, mediante el Decreto No. 7731 del 3 de octubre de 1990, se efectuaron modificaciones al artículo 23 de la Ley Orgánica del Poder Ejecutivo del Estado. Dichas modificaciones fortalecieron las funciones de Planeación y al complementarlas con las funciones del COPLADE, surgió la Secretaría de Planeación y Desarrollo. Asimismo, en 1994 se definen con mayor claridad las funciones y atribuciones de la Secretaría de Planeación y Desarrollo como dependencia rectora, normativa y globalizadora del proceso de planeación, promoción y financiamiento del desarrollo integral de la entidad.</p>

<p align="justify">Con fecha 02 de Septiembre de 2000, dentro del programa de Reestructuración de la Administración Pública, se publica en el Periódico Oficial la separación de las funciones de planeación y desarrollo, dando origen a la Secretaría de Planeación.</p>

<p align="justify">Por último, con la reciente reforma a la Ley Orgánica del Poder Ejecutivo del Estado de Nayarit, publicada el 23 de diciembre del 2009 en el Periódico Oficial, Órgano de Gobierno del Estado de Nayarit; se fortalece esta Secretaría de Planeación, adicionándole la Programación y Presupuesto, creando la nueva Secretaría de Planeación, Programación y Presupuesto, esta transformación, sin duda, obedece a la dinámica que se vive en el contexto nacional, en el sentido de mejorar la planeación, programación y presupuesto de las inversiones que se realizan en el estado, con la óptica de generar un mayor desarrollo integral y equilibrado en la entidad.</p>



